<%- include('../stylingpath/styles', { cssFile: '/css/schedule.css' }) %>

  <div class="schedule-wrap">
    <h1 id="scheduletitle"> My Schedule </h1>
    <div class="container list-article">
      <% if (schedules.length> 0) { %>
        <% schedules.forEach(schedule=> { %>
          <div class="article-wrapper">
            <h2 class="scheduleh2"><strong>Name:</strong>
              <%= schedule.name %>
            </h2>
            <p class="scheduleP"><strong>Date:</strong>
              <%= schedule.date %>
            </p>
            <div class="exercise-list">
              <p class="scheduleP"><strong>Exercise set:</strong>
              <% schedule.exercise.forEach(exercise=> { %>
                  <%= exercise.name %>
                </p>
                <% }) %>
            </div>
            <button >
              <a class="button-31" href="/schedule/details?id=<%= schedule._id %>">Show details</a>
            </button>
          </div>
          <% }) %>
            <% } else { %>
              <p class="notfound">No schedules found. Create one!</p>
              <% } %>
                <a href="/schedule/add" class="button-31 ">Create New Schedule</a>
    </div>
  </div>