<%- include('../stylingpath/styles', { cssFile: '/css/profile.css' }) %>
<div class="profile-form">
  <img src=<%= user.avatar %> alt="Profile Picture" class="profile-picture">
  <div class="profile-box">
    <!-- <label>Name:</label> -->
    <h3><%= user.name %></h3>
  </div>
  <div class="profile-box">
    <!-- <label>Email Address:</label> -->
    <h3><%= user.email %></h3>
  </div>
  <div class="profile-box">
    <label>Weight:</label>
    <h3><%= user.weight %></h3>
  </div>
  <div class="profile-box">
    <label>Height:</label>
    <h3><%= user.height %></h3>
  </div>
  <div class="profile-box">
    <label>Medical Condition *if needed*:</label>
    <h3><%= user.medical %></h3>
  </div>
  <div class="profile-box">
    <label>Goal:</label>
    <h3><%= user.goal %></h3>
  </div>
  <a href=“/user/edit?id=<%= user._id %>“ class="submit-button">Edit Profile</a>
  <!-- <button type="submit" class="submit-button">Update Profile</button> -->

</div>