<%- include('../stylingpath/styles', { cssFile: '/css/category.css' }) %>
<!-- <div class="category-box">
  <h1>
    <%= exerciseCategory.name %>
  </h1>
  <p>
    <%= exerciseCategory.description %>
  </p>
</div> -->
<div class="exercise-container">
  <h1><%= exerciseCategory.name %> Exercises:</h1>
  <div class="exercise">
    <% exerciseCategory.exercise.forEach(function(exercise) { %>
      <div class="card exercise-card">
        <img src="/uploads/<%= exercise.imgs[1] %>" class="card-img-top exercise-img" alt="<%= exercise.name %>">
        <div class="card-body">
          <h5 class="card-title">
            <%= exercise.name %>
          </h5>
          <p class="card-text">Description: <%= exercise.description %>
          </p>
          <a href="../exercise/details?id=<%= exercise._id%>" class="btn">Show Details</a>
        </div>
      </div>
      <% }) %>
  </div>
</div>