<%- include('../stylingpath/styles', { cssFile: '/css/exercise.css' }) %>
<form action="/exercise/update" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= exercise.name%>">

  <label for="description">Description</label>
  <input type="text" name="description" value="<%= exercise.description%>">

  <label for="Duration">Duration</label>
  <input type="text" name="duration"  value="<%= exercise.duration%>">

  <label for="category">Exersice Category</label>
  <input type="text" name="exerciseCategory"  value="<%= exercise.exerciseCategory.name%>">

  <label for="imgs">Exercise Images</label>
  <input type="file" name="imgs" id="imgs" multiple accept="image/*,video/*">


  <input type="hidden" name="exerciseId" value="<%= exercise._id %>">
  <button type="submit">Update</button>
</form>