<%- include('../stylingpath/styles', { cssFile: '/css/exercise.css' }) %>
<div class="exercise-container">
  <div class="exercise">
  <%exercise.forEach(function(exercise){%>
      <div class="card exercise-card">
        <img src="/uploads/<%= exercise.imgs[0] %>" class="card-img-top exercise-img" alt="<%= exercise.name %>">

        <div class="card-body">
          <h5 class="card-title">
            <%= exercise.name %>
          </h5>
          <p class="card-text">
            Description: <%= exercise.description %>
          </p>
          <p class="card-text">
            <%=exercise.duration%> 
          </p>
          
          <a href="/exercise/details?id=<%= exercise._id%>" class="btn"> Show Details</a>
          <br>
          <a href="/exercise/edit?id=<%= exercise._id%>" class="btn"> Edit Exercise</a>
          <br>
          <a href="/exercise/delete?id=<%= exercise._id%>" class="btn"> Delete Exercise</a>
        </div>
      </div>
      <% }) %>
  </div>
</div>